body {
	background-color: #4c4c4c;
	text-align: center;
	color: #ffffff;
}
nav ul li, nav ul li a {
	color: #ffffff;
	text-decoration: none;
	list-style: none;
}

textarea {
	resize: none;
}

/* HÄR BÖRJAR DIVS */

.searchbar {
	float: left;
	display: inline-block;
}

.navigation{
	height: 100%;
	width:160px;
	color: #ffffff;
	display: inline-block;
	float:left;
}

.navigation > ul > a > li {
	vertical-align: auto;
	height: 100%;
	background-color: #f78d19;
	border-bottom: 4px solid black;
	border-top: 4px solid black;
	
}

.navigation ul{
	position:absolut;
	margin:auto;
	margin-right: 100%;

}
.navigation > ul > a {
	float: left;
	width: 180px;
	height: 180px;
	line-height: 180px;
}
.navigation ul a li p{
	vertical-align: center;
	text-align: center;
	margin: auto;
}
.courses {
	width: 15%;
	height: 87%;
	display: inline-block;
	float: left;
	padding-top: -10px;
	padding-left: 0.5%;
	margin-left: 2%; /* DENNA VARIERAR FRÅN SKÄRM TILL SKÄRM, SER BRA UT MED SKOLDATOR UPPLÖSNING (1366 x 768)*/
	border: 1px solid #ffffff;
}  

.courses ul {
	list-style: none;
	text-align: left;
	height: auto;
	width: 20%;
	display: inline;
}

.courses li {
	color: #000000;
	background: #d1d1d1;
	list-style: none;
	text-decoration: none;
}

.courses > ul > a  {
	list-style: none;
	text-decoration: none; 
}

.coursecontent{
	border: 1px solid #ffffff;
	margin-top: 2px;
	height: 40%;
	width: 85%;
}

.searchresult {
	border: 1px solid #ffffff;
	width: 60%;
	height: 20%;
	float: left;
	margin-left: 11%;
	margin-top: 0.5%;
}

.summaries {
	float: left;
	width: 63%;
	margin-left: 7%;
}

.summarycount, .coursescount{
	float: left;
	margin-left: 15%;
	margin-top: 10%;
	padding: 1%;
	text-align: center;
	background-color: #d1d1d1;
	color: #000000;
}

.header {
	width: 90%;
}

.summaryForm {
	border: 1px solid red;
	display: block;
}

.summary_input{
	width: 500px;
	display:inline-block;
	margin:auto;
}
.summary_title{
	width:400px;
	float:left;
}

.summary_select{
	width:400px;
	float:left;
}
.summary_text{
	width: 400px;
	float:left;
}